#left-side > #remaining-data > #active-services {
    text-align: right;
}

#active-services > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
}

#active-services > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#active-services > ul > li > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
